/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5eedf;
    color: #111;
  }
  
  /* Header */
  header {
    text-align: center;
    padding: 25px 0 10px;
    background-color: white;
  }
  
  header h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
  }
  
  header .light {
    color: #b5b5b5;
    font-weight: 700;
  }
  
  header .bold {
    color: #1d1d1d;
    font-weight: 900;
  }
  
  header sup {
    font-size: 0.7rem;
    vertical-align: super;
  }
  
  /* Navigation */
  nav {
    background-color: #690000;
    text-align: center;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    display: inline-flex;
    gap: 100px;
  }
  
  nav a {
    color: #fff6e0;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: 1px solid #fff6e0;
    padding-bottom: 1px;
  }
  
  nav a:hover {
    border-bottom: 3px solid #fff6e0;
  }
  
  /* Image principale */
  .hero {
    width: 100%;
    height: 500px; /* ajustable */
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Texte principal */
  .intro {
    background-color: #f5eedf;
    padding: 40px 80px;
  }
  
  .intro h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 15px;
  }
  
  .intro p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
  }
  
